.div-filter-panel {
  width: 295px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 24px 24px 24px;
}

@media (max-width: 600px) {
  .div-filter-panel {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 0;
  }

  .div-filter-panel.mobile-open {
    display: block;
  }
}

.h2-filter-panel-title {
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.span-filter-icon {
  font-size: 24px; 
  cursor: pointer;
}

.div-brand-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0;
}

.div-price-filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0;
  margin-bottom: 24px;
}

.div-slider {
  padding: 0 10px;
}

.h3-title-filter {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.div-brand-item {
  cursor: pointer;
  padding: 4px 0;
}

.div-brand-item.selected {
  font-weight: 700;
}

.div-price-range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0;
}

.div-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-filter-action {
  padding: 16px;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}

.btn-filter-action-apply {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 18px;
}

.btn-filter-action-reset {
  background-color: #f0f0f0;
  color: #000000;
}

.span-filters-btn {
  display: none;
  position: absolute;
  top: 200px;
  right: 0;
  font-size: 24px;
  border-radius: 100px;
  background: #F0EEED;
  padding: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 600px) {
  .span-filters-btn {
    display: block;
  }
}