.div-category-page-container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding-top: 27px;
}

.h2-title-cards-block {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.all-cards-block {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.div-filters-container-on-page {
  width: 295px;
}