.div-category-page-container {
  max-width: 1240px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding-top: 27px;
  margin: auto;
}

.h2-title-cards-block {
  width: 80%;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.all-cards-block {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.div-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1150px) {
  .all-cards-block {
    justify-content: center;
  }
}

