.footer {
  font-family: "Rubik";

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 250px) 1fr 1fr 1fr 1fr;
    column-gap: 108px;
    line-height: 22px;
  }

  &__content__block {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    .title {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .links {
      p {
        padding: 0;
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      row-gap: 14px;
    }
  }

  &__content__main {
    display: flex;
    flex-direction: column;
    .footer__socials{
        display: flex;
        column-gap: 12px;
    }
  }
}
