@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

@import "../components/login/input/input.scss";
@import "../components/login/form/form.scss";
@import "../pages/Login/login-page.scss";


* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
