.router-navigation {
  padding-top: 20px;
  font-family: "Rubik";
  display: flex;
  column-gap: 16px;
  font-size: 16px;
  font-weight: 400;
  @media (max-width: 400px) {
    font-size: 14px;
  }
  &__link {
    display: flex;
    column-gap: 9px;
    img {
      width: 7px;
      height: 19px;
    }
  }

  &__link:not(:last-child) {
    color: #666666;
  }

  &__link:last-child {
    img {
      display: none;
    }
  }
}
