.div-category-product-card {
  width: 270px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

  .div-img-container {
    width: 100%;
    height: 285px;
    border-radius: 20px;
    background-color: #f0eeed;
    overflow: hidden;

    .img-product-card {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .div-product-info {
    padding: 17px 0;

    .h3-product-title {
      width: 100%;
      font-size: 18px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 5px;
    }

    .p-product-brand {
      margin: 0 0 10px;
      color: #666;
    }

    .div-price-container {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;

      .span-product-price {
        font-size: 18px;
        font-weight: 700;
      }

      .span-original-price {
        text-decoration: line-through;
        color: #999;
        font-size: 16px;
      }

      .span-product-discount {
        background-color: #f7d7d7;
        color: #ff3333;
        font-size: 12px;
        font-weight: 500;
        padding: 7px 10px;
        border-radius: 50px;
        margin-right: 10px;
      }
    }

    .div-product-rating {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .div-stars-container {
        display: inline-block;
        font-size: 20px;
        line-height: 1;
        margin-right: 5px;

        .span-star {
          color: #ddd;
          display: inline-block;

          &::before {
            content: "★";
          }

          &.full {
            color: #ffc107;
          }

          &.half {
            position: relative;

            &::before {
              color: #ddd;
              content: "★";
            }

            &::after {
              color: #ffc107;
              content: "★";
              position: absolute;
              left: 0;
              width: 50%;
              overflow: hidden;
            }
          }
        }
      }

      .span-rating-text {
        font-size: 14px;
        color: #666;
      }
    }
  }
}

@media (max-width: 600px) {
  .div-category-product-card {
    width: 170px;
    border-radius: 14px;

    .div-img-container {
      height: 174px;
    }
  }
}

@media (max-width: 360px) {
  .div-category-product-card {
    width: 160px;

    .div-img-container {
      height: 164px;
    }
  }
}
